.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

h2 {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 350px;
  color: white;
  width: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 30px;
}

.content {
  display: flex;
  margin: 0 auto;
  background-color: rgba(27, 27, 27, 0.384);
  font-size: 25px;
  width: auto;
  border-radius: 15px;

  input {
    font-size: 25px;
    border: none;
    margin-bottom: 10px;
  }

  .modal-button {
    font-size: 25px;
    padding: 1rem;
  }
}

form {
  height: 100%;
  width: 100%;
}

.health-type {
  padding: 100px;

  div {
    width: 900px;
    height: auto;
    display: flex;
    margin: 0 auto;
    div {
        margin-top: 40px;
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 150px;
          z-index: 100;
          display: flex;
          cursor: pointer;
        }
        svg[id="work-out"] path {
          fill: red !important;
        }
        svg[id="work-out"] text {
          fill: red !important;
        }
        svg[id="meal"] path {
          fill: yellow;
        }
        svg[id="meal"] text {
          fill: yellow !important;
        }
        svg[id="other"] path {
          fill: green !important;
        }
        svg[id="other"] text {
          fill: green !important;
        }
      }

      input {
        position: absolute;
        left: -9999px;
      }

      input[type="radio"] + label > img {
        border: 1px rgb(0, 0, 0);
        padding: 10px;
      }
    }
  }

  button {
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    background-color: #0e0e0e;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
   
    &:hover {
        background-color: aliceblue;
        color: blue;
    }

  }
}

.choice-text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  padding: 25px 0;
  transition-delay: .8s;
}

.choice-text.work-out {
  color: red;
  box-shadow: 0px 1px 15px 8px #ff0000;
}

.choice-text.meal {
  box-shadow: 0px 1px 15px 8px yellow;
  color: yellow;
}

.choice-text.other-option {
  box-shadow: 0px 1px 15px 8px green;
  color: green;
}
