




// JournalEntryForm.jsx 

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top: 0;
  display: flex;
  
}

.content {
  margin: auto auto;
  background-color: rgba(248, 0, 0, 0.384);
  font-size: 25px;
  width: auto;
  border-radius: 15px;
  height: 70%;
  width: 50%;

  h2{
    position: static;
  }

  form {
   
  }
}